<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 高德地图的APP KEY ； -->
    <add key="amap_webservice_appkey" value="1b21a2f1c05c2f03b2ea6157b95a3b4d" />
    <!-- 高德地图逆地址解析，根据地址获取坐标信息-->
    <add key="amap_geocode_geo" value="http://restapi.amap.com/v3/geocode/geo" />
    <!-- 高德地图逆地址解析，根据坐标获取地址信息-->
    <add key="amap_geocode_regeo" value="http://restapi.amap.com/v3/geocode/regeo" />

    <!-- 微信的　APP_ID 和　ＳＥＣＲＥＴ  023cfde55fb22f67da9635933e1d039d　-->
    <add key="WECHAT_APPID" value="wxe176bfb694aeabac" />
    <add key="WECHAT_SECRET" value="023cfde55fb22f67da9635933e1d039d" />

    <add key="config_for_test" value="123" />

    <!-- SMTP邮件服务器的用户名称和密码；-->
    <add key="smtp_server" value="smtp.mxhichina.com" />
    <add key="smtp_username" value="dingshuibao@quicka.cn" />
    <add key="smtp_password" value="Quicka168" />
  </appSettings>
</configuration>
